@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Mudrak Movies Headquarters<br />
    JL building, Watch tower above the earth<br />
    <abbr title="Phone">P:</abbr>
    123.456.7890
</address>

<address>
    <strong>Support:</strong> <a href="mailto:SupportAgent@mudrakmovies.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:MarketingAgent@mudrakmovies.com">Marketing@example.com</a>
</address>
